.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.nav{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 300px;
}
.nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    margin-left: 20px;
    color: rgb(15, 14, 14);
}
.nav ul li a{
    text-decoration: none;
    color: black;
    
}
.icon{
    display: flex;
    margin-right: 100px;
}
.i1{
    width: 100px;
}
.icon > p{
    background-color: orange;
    
}
.img{
    position: absolute;
}